main/__init__.pyc
main/settings.pyc
main/urls.pyc
main/wsgi.pyc
wyswietl/__init__.pyc
wyswietl/admin.pyc
wyswietl/forms.pyc
wyswietl/migrations/0001_initial.pyc
wyswietl/migrations/0002_auto_20160223_1628.pyc
wyswietl/migrations/0003_auto_20160229_0048.pyc
wyswietl/migrations/0004_auto_20160229_1344.pyc
wyswietl/migrations/0005_uoap0.pyc
wyswietl/migrations/0006_auto_20160415_0712.pyc
wyswietl/migrations/0007_auto_20160415_1219.pyc
wyswietl/migrations/0008_auto_20160415_1221.pyc
wyswietl/migrations/0009_uoap2.pyc
wyswietl/migrations/0010_auto_20160416_1320.pyc
wyswietl/migrations/0011_auto_20160416_1324.pyc
wyswietl/migrations/0012_auto_20160416_1431.pyc
wyswietl/migrations/0013_uoap2_predkosc_wedrowania_w_dla_elektrofiltru_typu_plyta_drut.pyc
wyswietl/migrations/0014_auto_20181205_1905.pyc
wyswietl/migrations/__init__.pyc
wyswietl/models.pyc
wyswietl/views.pyc
db.sqlite3