<html>
	<head>

	</HEAD>
	<BODY>
		<br>
		<div id="container">
		<a href="/"><div id="logo" style="border-style: outset"><center><h2>Mechanics and Machine Design</h2><br><i style="font-size: 30px">create new device</i></center></div></a>
	 	
<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#news">About us</a></li>
  <li class="dropdown">
    <a href="#" class="dropbtn">Projects</a>
    <div class="dropdown-content">
      <a href="#">History of the projects</a>
      <a href="/uoap/">Device protection of the atmosphere</a>
      <a href="#">Boilers</a>
      <a href="#">Machine construction basics</a>
      <a href="#">machine construction basics 2</a>
    </div>
  </li>
  <li><a href="#news">curiosities</a></li>
  <li><a href="#news">Contact</a></li>
</ul>

		<div align="left" id="menu" style="border-style: outset; position: relative;">
                        <h1>Centrifugal pump</h1>
                        <a href="/formulaz"> calculations to project<a>
                        <br><br>

                        <h1>Timpani</h1>
                        Calculations to project
                        <br><br>

                        <h1>Protection of the atmosphere:</h1>
                        Project P-0
                </div>



		<br>
		<div id="notki" style=" text-align: left; margin: 0px; pading: 0;border: 1px;">
			{% block content %}
			{% endblock %}
		</div>
		
		

		

</BODY>
</HTML>
