{% extends 'base.html' %}

{% block content %}

<style>
    #item {
        width: 100%;
        height: 80%;
        text-align: left;
        margin: 0;
    }

    #item img {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .carousel-caption {
        text-align: center;
    }

</style>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="https://cdn.allwallpaper.in/wallpapers/4628x1500/7841/earth-atmosphere-blue-bright-clouds-4628x1500-wallpaper.jpg" alt="Image">
        <div class="carousel-caption">
          <h3>Protect ours natural world</h3>
          <p>Design and prepare the best solutions to your environment</p>
        </div>      
      </div>

      <div class="item">
        <img src="https://cdn.allwallpaper.in/wallpapers/4628x1500/7841/earth-atmosphere-blue-bright-clouds-4628x1500-wallpaper.jpg" alt="Image">
        <div class="carousel-caption">
          <h3>Prepare your projects</h3>
          <p>Pass your projects with AtmosphereProtection</p>
        </div>      
      </div>
    </div>
</div>

<div class="container text-cMorenter">    
  <h2>What We Do?</h2><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="https://cdna.artstation.com/p/assets/images/images/012/812/120/large/savree-3d-electrostatic-precipitator.jpg?1536653290" class="img-responsive" style="width:100%" alt="Image">
      <p>Current Project</p>
    </div>
    <div class="col-sm-4"> 
      <img src="https://cdnb.artstation.com/p/assets/images/images/012/812/119/large/savree-3d-electrostatic-precipitator-esp.jpg?1536653287" class="img-responsive" style="width:100%" alt="Image">
      <p>Boiler in industries</p>    
    </div>
    <div class="col-sm-4"> 
      <img src="https://cdna.artstation.com/p/assets/images/images/012/812/118/large/savree-3d-electrostatic-precipitator-2.jpg?1536653284" class="img-responsive" style="width:100%" alt="Image">
      <p>Electro filtr</p>    
    </div>
  </div>
</div><br>


{% endblock %}