{% extends 'base.html' %}

{% block content %}

<style>
    #header {
        color: black;
        font-size: 35px;
        text-shadow: 5px 5px 5px black;
        padding: 1%;
        margin-left: 3%;
    }

    #text {
        color: black;
        padding: 1%;
        font-size: 15px;
        line-height: 30px;
        width: 80%;
        text-align: justify;
        margin-left: 3%;
    }
</style>

<h1 id="header">AtmosphereProtectionDevices</h1><hr>
<p id="text">
    This portal was created to help student of the mechanical and building
    machine in department of mechanical energy. In this website we can find projects calculation to checked our
    projects. at the time of creating this project, he was supposed to perform only the
    calculations needed for the university project. over time, the project developed and I decided to add new
    functionalities, eg comparing different assumptions, making graphs, generating reports
    I have hope that this portal help some people in his projects.
</p>


{% endblock %}