{% extends "base.html" %}
{% block content %}


<style>
	td {
		color: black;
	}

	table {
		width: 800px;

	}

	a {
		text-align: center;
		text-color: black;
	}

	#header {
		text-align: center;
		color: black;
		font-size: 25px;
		text-shadow: 5px 5px 5px LightGray;
		padding: 1%;
	}

	#header-row {
		background: LightGray;
		font-size: 20px;
		text-align: center;
		border-radius: 25px;
	}

	#body-row {
		font-size: 15px;
		border-radius: 25px;
		background: lightgreen;
		text-align: center;
	}
</style>

<h1 id="header">Basic parametrs:</h1>
<hr>
<div class="container">
	<div id="header-row" class="row">
		<div class="col-sm-4">
			<p>Wydajnosc pompy:</p>
			<p>Q[\(m^3 \over h \)]</p>
		</div>
		<div class="col-sm-4">
			<p>Wysokosc podnoszenia:</p>
			<p>H[\( m \)]</p>
		</div>
		<div class="col-sm-4">
			<p>Predkosc obrotowa:</p>
			<p>n[\( RPM \)]</p>
		</div>
	</div>

	<br>
	<div id="body-row" class="row">
		<div class="col-sm-4">
			<p>{{parametry.strumien}}</p>
		</div>
		<div class="col-sm-4">
			<p>{{parametry.wysokosc}}</p>
		</div>
		<div class="col-sm-4">
			<p>{{parametry.obroty}}</p>
		</div>
	</div>
</div>


<h1 id="header">Obliczenia charakterystyki ukladu:</h1>
<hr>
<div class="container">
	<div id="header-row" class="row">
		<div class="col-sm-6">
			<p>Wyznaczamy wyroznik oporu ukladu:</p>
		</div>
		<div class="col-sm-6">
			<p>Wyznaczenie charakterystyki ukladu:</p>
		</div>
	</div>
	<br>
	<div id="body-row" class="row">
		<div class="col-sm-6">
			<p>...</p>
		</div>
		<div class="col-sm-6">
			<p>...</p>
		</div>
	</div>
</div>


{% endblock %}