{% extends "base.html" %}
{% block content %}
    <style>
	td
	{
		color: black;
	}
	table
	{	
		width:800px;
		
	}
	a
	{
		text-align: center;
		text-color: black;
	}

	#h1{
		text-align: center;
		color: black;
		font-size: 35px;
		text-shadow: 4px 4px 5px black}
    </style>

	<div class="panel-group" id="accordion">
			<div class="faqHeader">
				<h1 id = "h1">Projects</h1><hr><br>
			</div>
			<div class="panel panel-default">

				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse"
						data-parent="#accordion" href="#collapseOne">P0 Protection Atmospere Devices</a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in">
					<div class="panel-body">
						<p>
							This project was created to prepared to
							finish my P0 project on the university. (Boiler)
						</p>
						<a href="/p0/odbiorca/">link</a> 
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a class="accordion-toggle collapsed" data-toggle="collapse"
						data-parent="#accordion" href="#collapseTen">P2 Protection Atmospere Devices</a>
					</h4>
				</div>
				<div id="collapseTen" class="panel-collapse collapse">
					<div class="panel-body">
						<a href="/p2/odbiorca/">link</a> 
					</div>
				</div>
			</div>
		</div>

{% endblock %}
